<h3>toggle the "special" class on/off with a property:</h3>
<!--Attr binding-->
<div [class.special]="isSpecial">The class binding is special.</div>

<h3>binding to class.special overrides the class attribute:</h3>
<div class="special" [class.special]="!isSpecial">This one is not so special.</div>

<!--Directive Input -->
<!-- <div [ngClass]="stringExp|arrayExp|objExp">...</div> -->
<div [ngClass]="'first second'">...</div>

<div [ngClass]="['first', 'second']">...</div>

<div [ngClass]="{'first': true, 'second': true, 'third': false}">...</div>

<div [ngClass]="{'class1 class2 class3' : true}">...</div>
