<div class="container">
  <app-divider>
    Course List:
  </app-divider>
  <form class="ml-4 mr-4">
    <div class="form-group">
      <label for="filter">Filter</label>
      <input class="form-control" id="filter" aria-describedby="filterHelp" placeholder="Filter ..." #searchText (change)="filter(searchText.value)" />
      <small id="filterHelp" class="form-text text-muted">you can filter by all text formats.</small>
    </div>
  </form>
  <ul class="list-group list-group-flush">
    <!-- 2-before use NgRedux <li *ngFor="let course of filteredCourses" class="list-group-item"> -->
    <li *ngFor="let course of filteredCourses$ |async" class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <span class="card-subtitle mb-2 text-muted">{{course.id}}.</span>
            {{course.name}}
            <button type="button" class="btn btn-nice float-right" [routerLink]="['Course', {id: course.id}]">
              <i class="fa fa-edit"></i>
            </button>
          </h5>
        </div>
      </div>
    </li>
  </ul>
</div>
