<div class="container-fluid">
  <div class="row">
    <app-divider>
      Structural Directives:
    </app-divider>
  </div>

  <div class="row">
    <div class="col">
      <blockquote>
        <div *ngIf="hero" class="name">{{hero.name}}</div>
      </blockquote>

      <p>List of heroes</p>
      <ul>
        <li *ngFor="let hero of heroes">{{hero.name}}</li>
      </ul>

      <hr />

      <h4>NgIf with template</h4>
      <p>&lt;ng-template&gt; element</p>
      <ng-template [ngIf]="hero">
        <div class="name">{{hero.name}}</div>
      </ng-template>
    </div>

    <div class="col">
      <h4 id="ng-container">&lt;ng-container&gt;</h4>
      <h4>*ngIf with a &lt;ng-container&gt;</h4>
      <button (click)="hero = hero ? null : heroes[0]">Toggle hero</button>
      <p>
        I turned the corner
        <ng-container *ngIf="hero">
          and saw {{hero.name}}. I waved
        </ng-container>
        and continued on my way.
      </p>
      <p>
        I turned the corner
        <span *ngIf="hero">
          and saw {{hero.name}}. I waved
        </span>
        and continued on my way.
      </p>

      <hr />

      <p><i>&lt;select&gt; with &lt;span&gt;</i></p>
      <div>
        Pick your favorite hero
        (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
      </div>
      <select>
        <span *ngFor="let h of heroes">
          <span *ngIf="showSad || h.emotion !== 'sad'">
            <option>{{h.name}} ({{h.emotion}})</option>
          </span>
        </span>
      </select>

      <hr />

      <p><i>&lt;select&gt; with &lt;ng-container&gt;</i></p>
      <div>
        Pick your favorite hero
        (<label><input type="checkbox" checked (change)="showSad = !showSad">show sad</label>)
      </div>
      <select>
        <ng-container *ngFor="let h of heroes">
          <ng-container *ngIf="showSad || h.emotion !== 'sad'">
            <option>{{h.name}} ({{h.emotion}})</option>
          </ng-container>
        </ng-container>
      </select>
    </div>

    <div class="col">
      <h4>select with ng-container and ng-template:</h4>
      <button (click)="color = color ? null : 'yello'">Toggle hero</button>

      <select>
        <ng-container *ngIf="(!color || color=='green') else noGreen">
          <option>Yes</option>
          <option>No</option>
          <option>None</option>
        </ng-container>
      </select>

      <ng-template #noGreen>
        <option>Ok</option>
        <option>Nok</option>
        <option>Oops</option>
      </ng-template>

      <hr />

      <h5>select with ng-container and *ngTemplateOutlet:</h5>
      <ng-container *ngTemplateOutlet="templateOutlet; context:{ $implicit: 'mahdi safari', age: 1 }"></ng-container>

      <ng-template #templateOutlet let-data let-i="age">
        <h5>{{data}}</h5>
        <h5>{{i}}</h5>
      </ng-template>
    </div>
  </div>
</div>

