<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Dream</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
    aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/practice">Practice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/style">Style</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Pipe</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/pipe">Sync</a>
          <a class="dropdown-item" routerLink="/asyncPipe">Async</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Form</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/templateDrivenForm">Template Driven Form</a>
          <a class="dropdown-item" routerLink="/asyncPipe">Async</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search" />
    </form>
  </div>
</nav>
