<nav class="navbar navbar-expand-sm navbar-dark bg-blue">
  <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">Todo Application</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbar-content" data-target="#navbar-content"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-content" [ngbCollapse]="navbarCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a id="dropdown-first" class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars"></i> Ng-bootstrap
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown-first">
          <a class="dropdown-item" routerLink="/modal">Modal</a>
          <a class="dropdown-item" routerLink="/datepicker-jalali">Datepicker Jalali</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/interaction" (click)="navbarCollapsed = true">Interaction<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/templateReferenceVariable" (click)="navbarCollapsed = true">Reference Variable</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/practice" (click)="navbarCollapsed = true">Practice</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/style" (click)="navbarCollapsed = true">Style</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a id="dropdown-first" class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars"></i> Directive
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown-first">
          <a class="dropdown-item" routerLink="/structural">Structural</a>
          <a class="dropdown-item" routerLink="/attribute">Attribute</a>
          <a class="dropdown-item" routerLink="/custom-directives">Custom</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a id="dropdown-second" class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars"></i> Pipe
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown-second">
          <a class="dropdown-item" routerLink="/pipe">Sync</a>
          <a class="dropdown-item" routerLink="/asyncPipe">Async</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a id="dropdown-third" class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> Form
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown-third">
          <a class="dropdown-item" routerLink="/form">Home</a>
          <a class="dropdown-item" routerLink="/form/templateDrivenForm">Template Driven Form</a>
          <a class="dropdown-item" routerLink="/form/modelDrivenForm">Model Driven Form</a>
          <a class="dropdown-item" routerLink="/form/modelDrivenFormNested">Model Driven Form (Nested)</a>
          <a class="dropdown-item" routerLink="/form/modelDrivenValidator">Model Driven Validator</a>
          <a class="dropdown-item" routerLink="/form/modelDrivenAsyncValidator">Model Driven Async Validator</a>
          <a class="dropdown-item" routerLink="/form/templateDrivenValidator">Template Driven Validator</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a id="dropdown-third" class="nav-link dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> Rxjs
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown-third">
          <a class="dropdown-item" routerLink="/rxjs">Home</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="Search" />
    </form>
  </div>
</nav>
