<!-- <h1>
   Bold: Styles in component metadata
</h1> -->

<h1 class="h1">
    Italic: Style files in component metadata
</h1>

<button>
    Button inline style
</button>

<p [style.display]="'block'">
  Expression sets display to "block". This paragraph is visible.
</p>
<p [style.display]="'none'">
  Expression sets display to "none". This paragraph is hidden but still in the DOM.
</p>

<style type="text/css">
    button {
        background-color: white;
        border: 1px solid #777;
    }
</style>
