<div class="container">
  <app-divider>
    Template Driven Validator:
  </app-divider>
  <form #form="ngForm" (ngSubmit)="onSubmit($event)">
    <div class="form-group">
      <label for="age" class="control-label">Age:</label>
      <input class="form-control" name="age" [(ngModel)]="age" #ageInput="ngModel" required [appAgeRangeValidator]="{min: 20, max: 30}"/>
      <div *ngIf="ageInput.dirty && ageInput.errors" class = "alert alert-danger">
        <div *ngIf="ageInput.errors.ageRange">
          Age field is required.
        </div>
        <div *ngIf="ageInput.errors.ageRange">
          Age field is invalid!
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn" [ngClass]="form.valid ? 'btn-success' : 'btn-danger'" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
</div>
