<form class="mb-2">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="First name" [value]="person.name"
            (input)="person.name = $event.target.value" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Last name" [value]="person.lastName"
                (input)="person.lastName = $event.target.value" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Age" [value]="person.age"
                (input)="person.age = + $event.target.value" />
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="add(person.name, person.lastName, person.age)">Add</button>
            <button type="button" class="btn btn-primary" (click)="edit(person)">Edit</button>
            <button type="button" class="btn btn-success"
                (click)="search(person.name, person.lastName, person.age)">Search</button>
        </div>
    </div>
</form>

/*
This code sets the <input> value property by binding to the name property.
To listen for changes to the value, the code binds to the input event of the <input> element.
When the user makes changes, the input event is raised,
and the binding executes the statement within a context that includes the DOM event object, $event.
To update the name property, the changed text is retrieved by following the path $event.target.value.
If the event belongs to a directive—recall that components are directives—$event has whatever shape the directive produces.
*/
