<div class="container">
  <h1>Template-driven Form Example:</h1>
  <form>
    <div class="form-group">
      <label class="control-label">First Name:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label class="control-label">Last Name:</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
      <input type="button" class="btn btn-warning" value="Reset"/>
    </div>
  </form>
</div>





