<div class="container">
  <h1>Reactive Form Example:</h1>
  <form class="col-md-6 offset-md-3 text-center border border-light p-4" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- <input type="text" class="form-control" placeholder="First name" [formControl]="firstName" /> without formGroup-->
        <input type="text" class="form-control" placeholder="First name" formControlName="firstName" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" />
      </div>
    </div>

    <input type="email" class="form-control mb-4" placeholder="E-mail" />

    <label>Subject</label>
    <select class="browser-default custom-select mb-4" formControlName="subject">
      <option value="" disabled>Choose option</option>
      <option *ngFor="let subject of subjects" [ngValue]="subject.id">{{subject.name}}</option>
    </select>

    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
      aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>

    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
      aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      Optional - for two step authentication
    </small>

    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
      <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <button class="btn btn-info my-4 btn-block" type="submit" [disabled]="!signupForm.valid">Sign in</button>
    <button class="btn btn-warning my-4 btn-block" type="button" [disabled]="signupForm.untouched" (click)="reset()">Reset</button>
    <button class="btn btn-danger my-4 btn-block" type="button" (click)="check()">Validate</button>
    <hr>

    <p>By clicking <em>Sign up</em> you agree to our <a href="" target="_blank">terms of service</a>
  </form>
</div>
