@import "~bootstrap/scss/bootstrap.scss";

.ng-valid.ng-dirty.ng-touched:not(form),
.ng-valid.ng-touched:not(form) {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.ng-valid:focus,
.ng-invalid:focus {
  border-left: 5px solid #80bdff; /* blue */
}

/**** from ng-bootstrap ****/
ngb-datepicker.rtl {
  direction: rtl;
}

ngb-datepicker.rtl ngb-datepicker-navigation-select select.custom-select {
  background-position: left 0.25rem center;
}

ngb-datepicker.rtl .ngb-dp-arrow.right .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: 0 0 0 0.25rem;
}

ngb-datepicker.rtl .ngb-dp-navigation-chevron {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 0.25rem 0 0;
}

button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 50%;
}

.btn-nice {
  background: rgb(255, 64, 129);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 64, 129);
}

.btn-nice.focus,
.btn-nice:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 64, 129, 0.5);
}
