<div class="container">
  <app-divider>
    Reactive Form Nested Example: Select Services
  </app-divider>
  <form class="" [formGroup]="packageForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label for="name">Name:</label>
        <input id="name" class="form-control" formControlName="name"/>
      </div>
    </div>

    <div class="form-row" formGroupName="serviceInfo">
      <div class="form-group col">
        <label for>Deliver Date:</label>
        <input type="date" class="form-control" formControlName="deliverDate" />
      </div>
      <div class="form-group col">
        <label>Services:</label>
        <div class="form-check" *ngFor="let service of services.controls; let i = index">
          <input type="checkbox" [formControl]="service" class="form-check-input" value="{{serviceList[i].selected}}"/>
          <label class="form-check-label">{{serviceList[i].name}}</label>
        </div>
      </div>
    </div>

    <button class="btn btn-info my-3 btn-block" type="submit" [disabled]="!packageForm.valid">Submit</button>
  </form>
  <div class="well">{{packageForm.value | json}}</div>
</div>
